VidyoPortalRoot/web/WEB-INF/services/VidyoRecorderService/META-INF/VidyoRecorderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="VidyoRecorderService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://ws.vidyo.com/recorder"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://ws.vidyo.com/recorder">

    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://ws.vidyo.com/recorder"
                   xmlns:tns="http://ws.vidyo.com/recorder">

            <xs:annotation>
                <xs:documentation xml:lang="en"/>
            </xs:annotation>

            <xs:element name="VMconnect" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Address of VidyoManager in format IPaddress:port</xs:documentation>
                </xs:annotation>
            </xs:element>

	        <xs:element name="ErrorMessage" type="xs:string">
                <xs:annotation>
                    <xs:documentation>String presentation of fault</xs:documentation>
                </xs:annotation>
	        </xs:element>

            <xs:element name="RecorderEndpointGUID">
                <xs:annotation>
                    <xs:documentation>
                        Global unique ID generated by Vidyo Recorder for Recorder Endpoint.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <!-- RegisterRecorderEndpoint -->
            <xs:element name="RegisterRecorderEndpointRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RecID" type="xs:string"/>
                        <xs:element name="Prefix" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="Description" type="xs:string"/>
                        <xs:element ref="tns:RecorderEndpointGUID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RegisterRecorderEndpointResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:VMconnect"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Exceptions -->
            <xs:element name="GeneralFault">
                <xs:annotation>
                    <xs:documentation>
                        This means that the exceptions happens in system.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:ErrorMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="InvalidArgumentFault">
                <xs:annotation>
                    <xs:documentation>
                        This means that the arguments which are passed into services are wrong.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:ErrorMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>


    <wsdl:message name="RegisterRecorderEndpointInput">
        <wsdl:part name="parameter" element="tns:RegisterRecorderEndpointRequest"/>
    </wsdl:message>
    <wsdl:message name="RegisterRecorderEndpointOutput">
        <wsdl:part name="parameter" element="tns:RegisterRecorderEndpointResponse"/>
    </wsdl:message>

    <wsdl:message name="GeneralFault">
        <wsdl:part name="fault" element="tns:GeneralFault"/>
    </wsdl:message>

    <wsdl:message name="InvalidArgumentFault">
        <wsdl:part name="fault" element="tns:InvalidArgumentFault"/>
    </wsdl:message>


    <wsdl:portType name="VidyoRecorderServicePortType">
        <wsdl:operation name="registerRecorderEndpoint">
            <wsdl:documentation>Bring the Recorder Endpoint to Vidyo Portal</wsdl:documentation>
            <wsdl:input message="tns:RegisterRecorderEndpointInput"/>
            <wsdl:output message="tns:RegisterRecorderEndpointOutput"/>
			<wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
			<wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="VidyoRecorderServiceBinding" type="tns:VidyoRecorderServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registerRecorderEndpoint">
            <soap:operation soapAction="registerRecorderEndpoint"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
			<wsdl:fault name="GeneralFault">
				<soap:fault name="GeneralFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault">
				<soap:fault name="InvalidArgumentFault" use="literal"/>
			</wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="VidyoRecorderService">
        <wsdl:port name="VidyoRecorderServicePort" binding="tns:VidyoRecorderServiceBinding">
            <soap:address location="http://localhost:8080/services/VidyoRecorderService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
