VidyoPortalRoot/web/WEB-INF/services/VidyoLicenseService/META-INF/VidyoLicenseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="VidyoLicenseService"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:tns="http://ws.vidyo.com/license"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        targetNamespace="http://ws.vidyo.com/license">

	<wsdl:types>

		<xs:schema xmlns:tns="http://ws.vidyo.com/license"
                   targetNamespace="http://ws.vidyo.com/license"
                   elementFormDefault="qualified"
                   attributeFormDefault="qualified">

			<xs:annotation>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>

			<xs:element name="Status">
				<xs:annotation>
					<xs:documentation>String presentation of success operation - "OK"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OK"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="ErrorMessage" type="xs:string">
				<xs:annotation>
					<xs:documentation>String presentation of fault</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="EID">
				<xs:annotation>
					<xs:documentation>
                        Global unique ID generated by Vidyo Endpoint.
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

            <xs:element name="ClientType">
                <xs:annotation>
                    <xs:documentation>
                        Type is 'W' for Windows platform.
                        Type is 'M' for MacOS platform.
                        Type is 'V' for VidyoRoom HD200 (Windows platform).
                        Type is 'R' for VidyoRoom HD100/HD50 (Windows platform).
                        Type is 'L' for Linux platform.
                        Type is 'S' for SL5 platform.
                        Type is 'U' for Ubuntu platform.
                        Type is 'T' for SL5 64bit platform.
                        Type is 'X' for Ubuntu 64bit platform.
                        Type is 'P' for VidyoPanorama VP600.
                        Type is 'N' for VidyoPanorama 600 running Windows 64-bit.
                        Type is 'E' for VidyoPanorama 600 running Linux 32-bit.
                        Type is 'O' for VidyoPanorama 600 running Linux 64-bit.
                        Type is 'Q' for VidyoRoom running Windows 32-bit.
                        Type is 'Y' for VidyoRoom running Windows 64-bit.
                        Type is 'F' for VidyoRoom running Linux 32-bit.
                        Type is 'Z' for VidyoRoom running Linux 64-bit.
                        Type is 'B' for VidyoRoom SE Windows.
                        Type is 'C' for VidyoRoom SE Linux.
                        Type is 'D' for VidyoRoom SE OS X. 
                        Type is 'W32' for Windows 32 bit platform.
                        Type is 'W64' for Windows 64 bit platform.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="W"/>
                        <xs:enumeration value="M"/>
                        <xs:enumeration value="V"/>
                        <xs:enumeration value="R"/>
                        <xs:enumeration value="L"/>
                        <xs:enumeration value="S"/>
                        <xs:enumeration value="U"/>
                        <xs:enumeration value="T"/>
                        <xs:enumeration value="X"/>
                        <xs:enumeration value="P"/>
                        <xs:enumeration value="N"/>
                        <xs:enumeration value="E"/>
                        <xs:enumeration value="O"/>
                        <xs:enumeration value="Q"/>
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="F"/>
                        <xs:enumeration value="Z"/>
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="W32"/>
                        <xs:enumeration value="W64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <!-- RegisterLicense -->
            <xs:element name="RegisterLicenseRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:EID"/>
                        <xs:element name="IPaddress" type="xs:string"/>
                        <xs:element name="hostname" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RegisterLicenseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LicenseActivationCertificate" type="xs:string"/>
                        <!-- OutOfLicenses=true means No available licenses-->
                        <xs:element name="OutOfLicenses" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- ClientVersion -->
            <xs:element name="ClientVersionRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request for current active tag and URL available on portal.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:ClientType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClientVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CurrentTag" type="xs:string"/>
                        <xs:element name="InstallerURI" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Line Consumption -->
            <xs:element name="UpdateLineConsumptionRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request for updating line consumption scheme for endpoint.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                    	<xs:element ref="tns:EID"/>
                        <xs:element  ref="tns:AttachmentRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="UpdateLineConsumptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="updated" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

			<!-- Exceptions -->
			<xs:element name="GeneralFault">
				<xs:annotation>
					<xs:documentation>
                        This means that the exceptions happens in system.
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:ErrorMessage"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="InvalidArgumentFault">
				<xs:annotation>
					<xs:documentation>
                        This means that the arguments which are passed into services are wrong.
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:ErrorMessage"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="EndpointNotBoundFault">
				<xs:annotation>
					<xs:documentation>
                        Endpoint to which the message is sent is not bound to the user.
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:ErrorMessage"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>			

			<xs:element name="EndpointOfflineFault">
				<xs:annotation>
					<xs:documentation>
                        Endpoint to which the message is sent is offline.
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:ErrorMessage"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:complexType name="AttachmentType">
				<xs:sequence>
					<xs:element name="fileName" type="xs:string"/>
					<xs:element name="binaryData" type="xs:base64Binary"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:element name="AttachmentRequest" type="tns:AttachmentType" />
			
		</xs:schema>

	</wsdl:types>

    <!-- methods -->
    <wsdl:message name="RegisterLicenseInput">
        <wsdl:part name="parameter" element="tns:RegisterLicenseRequest"/>
    </wsdl:message>
    <wsdl:message name="RegisterLicenseOutput">
        <wsdl:part name="parameter" element="tns:RegisterLicenseResponse"/>
    </wsdl:message>

    <wsdl:message name="ClientVersionInput">
        <wsdl:part name="parameter" element="tns:ClientVersionRequest"/>
    </wsdl:message>
    <wsdl:message name="ClientVersionOutput">
        <wsdl:part name="parameter" element="tns:ClientVersionResponse"/>
    </wsdl:message>

    <wsdl:message name="UpdateLineConsumptionInput">
        <wsdl:part name="parameter" element="tns:UpdateLineConsumptionRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateLineConsumptionOutput">
        <wsdl:part name="parameter" element="tns:UpdateLineConsumptionResponse"/>
    </wsdl:message>
    
    <!-- Exceptions -->
	<wsdl:message name="GeneralFault">
		<wsdl:part name="fault" element="tns:GeneralFault"/>
	</wsdl:message>

	<wsdl:message name="InvalidArgumentFault">
		<wsdl:part name="fault" element="tns:InvalidArgumentFault"/>
	</wsdl:message>
	
	<wsdl:message name="EndpointNotBoundFault">
		<wsdl:part name="fault" element="tns:EndpointNotBoundFault"/>
	</wsdl:message>
	
	<wsdl:message name="EndpointOfflineFault">
		<wsdl:part name="fault" element="tns:EndpointOfflineFault"/>
	</wsdl:message>

	<wsdl:portType name="VidyoLicenseServicePortType">

        <wsdl:operation name="registerLicense">
            <wsdl:documentation>License Registration during installation process</wsdl:documentation>
            <wsdl:input message="tns:RegisterLicenseInput"/>
            <wsdl:output message="tns:RegisterLicenseOutput"/>
            <wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="getClientVersion">
            <wsdl:documentation>Get the current active client version</wsdl:documentation>
            <wsdl:input message="tns:ClientVersionInput"/>
            <wsdl:output message="tns:ClientVersionOutput"/>
            <wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="updateLineConsumptionForEndpoint">
            <wsdl:documentation>Updates the Line consumption scheme for Endpoint</wsdl:documentation>
            <wsdl:input message="tns:UpdateLineConsumptionInput"/>
            <wsdl:output message="tns:UpdateLineConsumptionOutput"/>
            <wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
            <wsdl:fault name="EndpointNotBoundFault" message="tns:EndpointNotBoundFault"/>
            <wsdl:fault name="EndpointOfflineFault" message="tns:EndpointOfflineFault"/>
        </wsdl:operation>        

	</wsdl:portType>

	<wsdl:binding name="VidyoLicenseServiceBinding" type="tns:VidyoLicenseServicePortType">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="registerLicense">
            <soap:operation soapAction="registerLicense"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getClientVersion">
            <soap:operation soapAction="getClientVersion"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="updateLineConsumptionForEndpoint">
            <soap:operation soapAction="updateLineConsumptionForEndpoint"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EndpointNotBoundFault">
                <soap:fault name="EndpointNotBoundFault" use="literal"/>
            </wsdl:fault> 
            <wsdl:fault name="EndpointOfflineFault">
                <soap:fault name="EndpointOfflineFault" use="literal"/>
            </wsdl:fault>                        
        </wsdl:operation>        

	</wsdl:binding>

	<wsdl:service name="VidyoLicenseService">
		<wsdl:port name="VidyoLicenseServicePort" binding="tns:VidyoLicenseServiceBinding">
			<soap:address location="http://localhost:8080/services/VidyoLicenseService"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>