VidyoPortalRoot/web/WEB-INF/services/VidyoPortalService/META-INF/VidyoPortalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="VidyoPortalService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://ws.vidyo.com/portal"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://ws.vidyo.com/portal">

    <wsdl:types>

        <xs:schema xmlns:tns="http://ws.vidyo.com/portal"
                   targetNamespace="http://ws.vidyo.com/portal"
                   elementFormDefault="qualified"
                   attributeFormDefault="qualified">

            <xs:annotation>
                <xs:documentation xml:lang="en"/>
            </xs:annotation>

            <xs:element name="Status">
                <xs:annotation>
                    <xs:documentation>String presentation of success operation - "OK"</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="OK"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="ErrorMessage" type="xs:string">
                <xs:annotation>
                    <xs:documentation>String presentation of fault</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="EndpointGUID">
                <xs:annotation>
                    <xs:documentation>
                        Global unique ID generated by Vidyo Endpoint.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="State">
                <xs:annotation>
                    <xs:documentation>
                        Status is 'Offline' and hence can't be reached for a conference.
                        Status is "Online' and can be reached for a conference.
                        Status is "WaitJoinConfirm' when we're waiting for confirmation the EP has joined a conference
                        Status is 'Busy' in conference and can't can be reached for another conference.
                        Status is 'Ringing' start to invite other part to conference.
                        Status is 'RingAccepted' other part ready to join to conference.
                        Status is 'RingRejected' other part reject to join to conference.
                        Status is 'RingNoAnswer' other part is not answered in some period of time.
                        Status is 'Alerting' the EP is alerting.
                        Status is 'AlertCancelled' the EP has cancelled an alerting call.
                        Status is 'RingFailed' the EP cannot accept Start Ring command.
                        Status is 'JoinFailed' the EP cannot accept Join Conference command.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Offline"/>
                        <xs:enumeration value="Online"/>
                        <xs:enumeration value="WaitJoinConfirm"/>
                        <xs:enumeration value="Busy"/>
                        <xs:enumeration value="Ringing"/>
                        <xs:enumeration value="RingAccepted"/>
                        <xs:enumeration value="RingRejected"/>
                        <xs:enumeration value="RingNoAnswer"/>
                        <xs:enumeration value="Alerting"/>
                        <xs:enumeration value="AlertCancelled"/>
                        <xs:enumeration value="RingFailed"/>
                        <xs:enumeration value="JoinFailed"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="UpdateReason">
                <xs:annotation>
                    <xs:documentation>
                        Reason is 'EpLost' because EMCP session lost
                        Reason is "EpDetected' because endpoint connected via EMCP
                        Reason is "EpLeftConf' because endpoint sent an update indicating it is not in a conference
                        Reason is 'EpLeaveConfOk' because endpoint accepted a leave conference command
                        Reason is 'EpStopRingOk' because endpoint accepted a stop ring command
                        Reason is 'EpStopAlertOk' because endpoint accepted a stop alert command
                        Reason is 'EpJoinConfOk' because endpoint accepted a join conference command
                        Reason is 'JoinedRouter' because router reported endpoint in conference
                        Reason is 'EpInConf' because endpoint reported being in conference
                        Reason is 'EpStartRingOk' because endpoint accepted a start ring command
                        Reason is 'EpRinging' because endpoint reported ringing
                        Reason is 'EpRingAccepted' because endpoint reported ring accepted
                        Reason is 'EpRingRejected' because endpoint reported ring rejected
                        Reason is 'EpRingNoAnswer' because endpoint reported ring not answered
                        Reason is 'EpStartAlertOk' because endpoint accepted a start alert command
                        Reason is 'EpAlerting' because endpoint reported alerting
                        Reason is 'EpAlertingCanceled' because endpoint reported alerting canceled
                        Reason is 'EpRingBusy' because endpoint reported ring rejected because it is already on a call
                        Reason is 'EpJoinConfRejected' because endpoint rejected a join conference command
                        Reason is 'EpStartRingRejected' because endpoint rejected a start ring command
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="EpLost"/>
                        <xs:enumeration value="EpDetected"/>
                        <xs:enumeration value="EpLeftConf"/>
                        <xs:enumeration value="EpLeaveConfOk"/>
                        <xs:enumeration value="EpStopRingOk"/>
                        <xs:enumeration value="EpStopAlertOk"/>
                        <xs:enumeration value="EpJoinConfOk"/>
                        <xs:enumeration value="JoinedRouter"/>
                        <xs:enumeration value="EpInConf"/>
                        <xs:enumeration value="EpStartRingOk"/>
                        <xs:enumeration value="EpRinging"/>
                        <xs:enumeration value="EpRingAccepted"/>
                        <xs:enumeration value="EpRingRejected"/>
                        <xs:enumeration value="EpRingNoAnswer"/>
                        <xs:enumeration value="EpStartAlertOk"/>
                        <xs:enumeration value="EpAlerting"/>
                        <xs:enumeration value="EpAlertingCanceled"/>
                        <xs:enumeration value="EpRingBusy"/>
                        <xs:enumeration value="EpJoinConfRejected"/>
                        <xs:enumeration value="EpStartRingRejected"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="RemoteState">
                <xs:annotation>
                    <xs:documentation>State of remote system</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Connected"/>
                        <xs:enumeration value="Disconnected"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:complexType name="ConferenceInfoType">
                <xs:annotation>
                    <xs:documentation>Information related to a conference</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="ConferenceID" type="xs:string"/>
                    <xs:element name="VRID" type="xs:string"/>
                    <xs:element name="VRName" type="xs:string"/>
                    <xs:element name="GroupID" type="xs:string"/>
                    <xs:element name="GroupName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <!-- UpdateEndpointStatus -->
            <xs:element name="UpdateEndpointStatusRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:EndpointGUID"/>
                        <xs:element ref="tns:State"/>
                        <xs:element ref="tns:UpdateReason"/>
                        <!--ConferenceInfo is present when State=Busy /-->
                        <xs:element name="ConferenceInfo" type="tns:ConferenceInfoType" minOccurs="0"/>
                        <!--ParticipantID is not present when State=offline /-->
                        <xs:element name="ParticipantID" type="xs:string" minOccurs="0"/>
                        <xs:element name="SequenceNum" nillable="true" type="xs:unsignedLong" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UpdateEndpointStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:Status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- UpdateRouterEndpointStatus -->
            <xs:element name="UpdateRouterEndpointStatusRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:EndpointGUID"/>
                        <xs:element name="ConferenceID" type="xs:string"/>
                        <xs:element name="VRID" type="xs:string"/>
                        <xs:element name="Joined" type="xs:boolean"/>
                        <xs:element name="SequenceNum" nillable="true" type="xs:unsignedLong" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateRouterEndpointStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:Status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- UpdateExternalLinkStatus -->
            <xs:element name="UpdateExternalLinkStatusRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LocalConferenceID" type="xs:string"/>
                        <xs:element name="RemoteConferenceID" type="xs:string"/>
                        <xs:element name="RemoteEntityID" type="xs:string"/>
                        <xs:element name="LocalMediaAddress" type="xs:string" minOccurs="0"/>
                        <xs:element name="LocalMediaAdditionalInfo" type="xs:string" minOccurs="0"/>
                        <xs:element ref="tns:RemoteState"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateExternalLinkStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:Status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- InfoFromEndpoint -->
            <xs:element name="InfoFromEndpointRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:EndpointGUID"/>
                        <xs:element name="Content" type="xs:base64Binary"/>
                        <xs:element name="SequenceNum" nillable="true" type="xs:unsignedLong" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="InfoFromEndpointResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Content" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- StartVidyoManager -->
            <xs:element name="StartVidyoManagerRequest">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="StartVidyoManagerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:Status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- AddSpontaneousEndpoint -->
            <xs:element name="AddSpontaneousEndpointRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="EndpointID" type="xs:string"/>
                        <xs:element name="ParticipantID" type="xs:string"/>
                        <xs:element name="ConferenceID" type="xs:string"/>
                        <xs:element name="RouterID" type="xs:string"/>
                        <xs:element name="RouterAddressUri" type="xs:string"/>
                        <xs:element name="RouterInfo" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddSpontaneousEndpointResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:Status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Exceptions -->
            <xs:element name="GeneralFault">
                <xs:annotation>
                    <xs:documentation>
                        This means that the exceptions happens in system.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:ErrorMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="InvalidArgumentFault">
                <xs:annotation>
                    <xs:documentation>
                        This means that the arguments which are passed into services are wrong.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:ErrorMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>

    </wsdl:types>

    <wsdl:message name="UpdateEndpointStatusInput">
        <wsdl:part name="parameter" element="tns:UpdateEndpointStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateEndpointStatusOutput">
        <wsdl:part name="parameter" element="tns:UpdateEndpointStatusResponse"/>
    </wsdl:message>

    <wsdl:message name="UpdateRouterEndpointStatusInput">
        <wsdl:part name="parameter" element="tns:UpdateRouterEndpointStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateRouterEndpointStatusOutput">
        <wsdl:part name="parameter" element="tns:UpdateRouterEndpointStatusResponse"/>
    </wsdl:message>

    <wsdl:message name="UpdateExternalLinkStatusInput">
        <wsdl:part name="parameter" element="tns:UpdateExternalLinkStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateExternalLinkStatusOutput">
        <wsdl:part name="parameter" element="tns:UpdateExternalLinkStatusResponse"/>
    </wsdl:message>

    <wsdl:message name="InfoFromEndpointInput">
        <wsdl:part name="parameter" element="tns:InfoFromEndpointRequest"/>
    </wsdl:message>
    <wsdl:message name="InfoFromEndpointOutput">
        <wsdl:part name="parameter" element="tns:InfoFromEndpointResponse"/>
    </wsdl:message>

    <wsdl:message name="StartVidyoManagerInput">
        <wsdl:part name="parameter" element="tns:StartVidyoManagerRequest"/>
    </wsdl:message>
    <wsdl:message name="StartVidyoManagerOutput">
        <wsdl:part name="parameter" element="tns:StartVidyoManagerResponse"/>
    </wsdl:message>

    <wsdl:message name="AddSpontaneousEndpointInput">
        <wsdl:part name="parameter" element="tns:AddSpontaneousEndpointRequest"/>
    </wsdl:message>
    <wsdl:message name="AddSpontaneousEndpointOutput">
        <wsdl:part name="parameter" element="tns:AddSpontaneousEndpointResponse"/>
    </wsdl:message>

    <wsdl:message name="GeneralFault">
        <wsdl:part name="fault" element="tns:GeneralFault"/>
    </wsdl:message>

    <wsdl:message name="InvalidArgumentFault">
        <wsdl:part name="fault" element="tns:InvalidArgumentFault"/>
    </wsdl:message>

    <wsdl:portType name="VidyoPortalServicePortType">

        <wsdl:operation name="updateEndpointStatus">
            <wsdl:documentation>Updates the endpoint status to Vidyo Portal</wsdl:documentation>
            <wsdl:input message="tns:UpdateEndpointStatusInput"/>
            <wsdl:output message="tns:UpdateEndpointStatusOutput"/>
            <wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="updateRouterEndpointStatus">
            <wsdl:documentation>Updates the VidyoRouter endpoint status to Vidyo Portal</wsdl:documentation>
            <wsdl:input message="tns:UpdateRouterEndpointStatusInput"/>
            <wsdl:output message="tns:UpdateRouterEndpointStatusOutput"/>
            <wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="updateExternalLinkStatus">
            <wsdl:documentation>Updates the external link status to Vidyo Portal</wsdl:documentation>
            <wsdl:input message="tns:UpdateExternalLinkStatusInput"/>
            <wsdl:output message="tns:UpdateExternalLinkStatusOutput"/>
            <wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="infoFromEndpoint">
            <wsdl:documentation>Request from Endpoint to Vidyo Portal using VCAProtocol</wsdl:documentation>
            <wsdl:input message="tns:InfoFromEndpointInput"/>
            <wsdl:output message="tns:InfoFromEndpointOutput"/>
            <wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="startVidyoManager">
            <wsdl:documentation>Event about starting of VidyoManager</wsdl:documentation>
            <wsdl:input message="tns:StartVidyoManagerInput"/>
            <wsdl:output message="tns:StartVidyoManagerOutput"/>
            <wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
        </wsdl:operation>

        <wsdl:operation name="addSpontaneousEndpoint">
            <wsdl:documentation>Event about adding a spontaneous endpoint</wsdl:documentation>
            <wsdl:input message="tns:AddSpontaneousEndpointInput"/>
            <wsdl:output message="tns:AddSpontaneousEndpointOutput"/>
            <wsdl:fault name="GeneralFault" message="tns:GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="VidyoPortalServiceBinding" type="tns:VidyoPortalServicePortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="updateEndpointStatus">
            <soap:operation soapAction="updateEndpointStatus"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="updateRouterEndpointStatus">
            <soap:operation soapAction="updateRouterEndpointStatus"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="updateExternalLinkStatus">
            <soap:operation soapAction="updateExternalLinkStatus"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="infoFromEndpoint">
            <soap:operation soapAction="infoFromEndpoint"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="startVidyoManager">
            <soap:operation soapAction="startVidyoManager"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addSpontaneousEndpoint">
            <soap:operation soapAction="addSpontaneousEndpoint"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="VidyoPortalService">
        <wsdl:port name="VidyoPortalServicePort" binding="tns:VidyoPortalServiceBinding">
            <soap:address location="http://localhost:8080/services/VidyoPortalService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>